<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}  <!--this is angular syntax-->
  </h1>
  <a href="https://www.facebook.com/aman.attrish.92">
    <img width="300" alt="Aman" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c3.0.364.364/p370x247/20376208_262283550925656_3068690794118701451_n.jpg?oh=a57b2df8260fd4c6a640c324d894a26c&oe=5AF3F3A1" >
  </a>

<h2 id="h2link">Here are some of your friends : </h2>
<ul>
  <li>
    <h2><a  href="https://www.facebook.com/profile.php?id=100004056396443">
          <img width="300" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/20292600_1191691167642752_2062211579997597701_n.jpg?oh=789a08cc79ac04fdd1b415d8b271532e&oe=5AC87510">
        </a>
    </h2>
  </li>
  <li>
    <h2><a  href="https://www.facebook.com/profile.php?id=100000965455427">
          <img width="300" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/18199276_1528505430524957_225452666314313392_n.jpg?oh=3507894226230067b4c3c83ff0ea8f20&oe=5AF588AE">
        </a>
    </h2>
  </li>
  <li>
    <h2><a href="https://www.facebook.com/piyush.singh.38">
          <img width="300" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/19883965_1419212988167445_7484797456495024190_n.jpg?oh=a06eb94e253816f76cba74f20cbe6eb9&oe=5AB5B6E2">
        </a>
      </h2>
  </li>
  <li>
    <h2><a href="https://www.facebook.com/ankit.d.11">
          <img width="300" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/20993010_744467469086947_6772108290231097666_n.jpg?oh=a47e65cf75b21b26eb7aca0f5ae60cd6&oe=5AFEE1BF">
        </a>
      </h2>
  </li>
  <li>
    <h2><a href="https://www.facebook.com/astomar7">
          <img width="300" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/25552400_1884298504943741_4452466279839723771_n.jpg?oh=ea1cf9d7338f3eee059b798a4a419ecf&oe=5AB7336D">
        </a>
      </h2>
  </li>
  <li>
    <h2><a href="https://www.facebook.com/tushar.manekar123">
          <img width="300" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/20708340_1388437521277135_7578542185154725056_n.jpg?oh=ca40b6ba5227ac6c2ba7bfc5d7416018&oe=5AB1981F">
        </a>
      </h2>
  </li>
  <li>
    <h2><a href="https://www.facebook.com/profile.php?id=100008160723000">
          <img width="300" src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/22554899_1979523632329642_28041058327200321_n.jpg?oh=26a193481f5bccf3f4e512899c1f5a1e&oe=5AB86FBE">
        </a>
      </h2>
  </li>

</ul>
</div>

